/*=PUBLIC=*/
.white { background-color:#ffffff; }
.grey { background-color:#f0f0f0; }
.grey_2 { background-color:#f8f8f8; }
.yellow { background-color:#fff075; }
.blue { background-color:#0086db; }

#wrap { position:relative; }

.share_title { display:block;position:relative;background-color:#ff797d;border-radius:8px;padding:16px 12px;margin:12px; }
.share_title img { position:absolute;left:0;top:-12px;width:80px;height:60px; }
.share_title p { color:#ffffff;text-align:right;font-size:14px;padding-left:48px;position:relative;z-index:9;text-shadow:2px 2px 0px #ff797d, -2px -2px 0px #ff797d; }
.share_title strong { color:#ffe87d;font-size:20px;font-weight:normal; }

.more { display:block;width:100%;height:60px;line-height:60px;font-size:16px;color:#999999;text-align:center; }

.btn { display:block;position:fixed;bottom:0;width:100%;height:40px;line-height:40px;background-color:#ff4244;color:#fff6a7;font-size:14px; }

.footers { position:fixed;bottom:0;left:0;right:0;display:flex;justify-content:space-between;border-top:1px solid #e3e3e3; }
.footers a { display:block;width:20%;background:#f5f5f5;text-align:center;padding:14px 0;color:#3c3c3c;font-size:14px;box-sizing:border-box;border-right:1px solid #e3e3e3;position:relative; }
.footers a.active { color:#ff0015; }
.footers a:last-child { border-right:none; }
.footers em { display:block;width:8px;height:8px;background:#ff0204;border-radius:4px;position:absolute;right:12px;top:12px; }
/*=PUBLIC END=*/


/*=index=*/
.share_list { padding:0 12px 12px 12px; }
.share_list li { background:#ffffff;border-radius:10px;margin-bottom:10px;position:relative;padding:5px 5px 5px 80px;height:80px;box-sizing:border-box; }
.share_list a { display:block;color:#000000; }
.share_list img { position:absolute;left:5px;top:5px;width:70px;height:70px; }
.share_list h3 { text-align:left;font-size:16px; }
.share_list p { text-align:left;font-size:12px;color:#bababa;margin-bottom:12px; }
.share_list strong { display:block;text-align:left;font-size:14px;color:#ff4245;font-weight:normal; }
.share_list span { display:block;position:absolute;bottom:5px;right:5px;width:72px;height:30px;line-height:30px;color:#fff7a8;background:#f96b6e;border-radius:4px; }
/*=index --END*/


/*=view=*/
.sub_title { font-size:12px;color:#ff353e;margin-bottom:12px; }
.content { background-color:#ffffff;padding:10px;border-radius:8px;margin:12px;text-align:left; }
.content img { max-width:100%; }
.content iframe { max-width:100%; }
.view_btn { position:fixed;bottom:0;display:flex;justify-content:space-between;width:100%; }
.view_btn a { width:50%;height:40px;line-height:40px;text-align:center;display:block;font-size:14px; }
.view_btn a:nth-of-type(1) { background:#ffd177;color:#ff5b62; }
.view_btn a:nth-of-type(2) { background:#ff5b62;color:#ffe87d; }

.direction { text-align:right;margin-bottom:12px; }
.direction img { width:60px;height:60px; }
.guide { position:relative;margin:0 20px;padding:30px;border:1px solid #ffffff;border-radius:16px; }
.guide p { font-size:14px;color:#ffffff;line-height:20px; }
.guide a { position:absolute;top:8px;right:8px;color:#ffffff;font-size:14px;width:30px;height:16px;line-height:16px; }

.share_end { text-align:center; }
.share_end img { width:240px;height:240px;display:block;margin:0 auto 20px; }
.share_end a { display:block;width:240px;height:40px;line-height:40px;font-size:14px;border-radius:20px;background:#ff5b62;color:#fff6a7;margin:0 auto 20px; }
.share_end p { font-size:14px;color:#fff6a7; }

.praise { padding:20px 0; }
.praise a { display:inline-block;width:80px;height:80px; }
.praise.on a { background:url('../img/praise_on.png') no-repeat 0 0;background-size:80px 80px; }
.praise.off a { background:url('../img/praise_off.png') no-repeat 0 0;background-size:80px 80px; }
.praise.on p { padding:8px 0;font-size:14px;color:#ff4c4c; }
.praise.off p { padding:8px 0;font-size:14px;color:#afafaf; }

.share_rule { display:block;width:100px;height:30px;text-align:center;line-height:30px;border-radius:6px;margin:0 auto;font-size:14px;background:#afafaf;color:#ffffff; }

.praise_success { padding:20px 10px;border-top:4px solid #ff3d69; }
.praise_success h1 { text-align:center;margin-bottom:10px; }
.praise_success h1 img { width:72px;height:50px; }
.praise_success h2 { font-weight:normal;text-align:center;font-size:12px;color:#fe3d69;margin-bottom:30px; }
.praise_success strong { font-size:20px; }
.praise_success div { background:#ffe8ee;border-radius:12px;padding:12px;margin-bottom:20px; }
.praise_success h4 { text-align:center;color:#fb3e66;font-size:14px;margin-bottom:20px; }
.praise_success p { font-size:12px;color:#fd3d64; }
.praise_success em { font-weight:bold;color:#36a66e; }
.praise_success a { display:block;margin:0 auto;width:120px;text-align:center;height:36px;line-height:36px;color:#ffffff;background:#ff3d69;font-weight:bold;border-radius:12px; }
/*=view --END*/


/*=shared & income=*/
.list_tab { padding:12px;display:flex;justify-content:space-around; }
.list_tab a { font-size:14px;display:block;color:#b7b7b7;border-bottom:1px solid #ffffff;padding:6px; }
.list_tab a.v { color:#fe3d69;border-bottom:1px solid #fe3d69; }

.signed {  }
.signed li { padding:12px;border-bottom:1px solid #d8d8d8;height:30px; }
.signed_info { display:flex;justify-content:space-between;width:100%; }
.signed_info p { width:100%;text-align:left;height:30px;line-height:30px;font-size:14px;color:#9e9e9e; }
.signed_info div { width:120px; }
.signed_info strong { display:block;font-size:18px;color:#ff4244;font-weight:normal;text-align:right; }

.yesterday_signed { padding:16px 12px;background:#fafafa;display:flex;justify-content:space-between;width:100%;box-sizing:border-box; }
.yesterday_signed p { font-size:14px;color:#000000;height:20px;line-height:20px; }
.yesterday {  }
.yesterday li { padding:12px 12px 12px 84px;border-bottom:1px solid #d8d8d8;position:relative;height:60px; }
.yesterday img { position:absolute;left:12px;top:12px;width:60px;height:60px;border-radius:30px; }
.yesterday_info { display:flex;justify-content:space-between;width:100%; }
.yesterday_info h3 { width:100%;text-align:left;height:60px;font-weight:normal;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; }
.yesterday_info em { display:block;height:60px;line-height:60px;font-style:normal;font-size:16px;color:#5a5a5a;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.yesterday_info div { width:120px;padding:10px 0; }
.yesterday_info strong { display:block;font-size:18px;color:#ff4244;font-weight:normal;text-align:right; }

.income_btn { position:fixed;bottom:0;height:50px;background-color:#ff4244;width:100%;display:flex;justify-content:space-between; }
.income_btn p { height:50px;line-height:50px;padding-left:16px; }
.income_btn span { font-size:14px;color:#fff6a7; }
.income_btn strong { font-size:18px;color:#fff6a7;font-weight:normal; }
.income_btn a { display:block;width:160px;height:36px;line-height:36px;background-color:#fff6a7;color:#ff5b62;font-size:16px;font-weight:normal;margin:7px 7px 7px 0;border-radius:18px; }
/*=shared --END*/


/*=sign & sign_enter=*/
.sign_head { background:#f25544;padding:24px 0 16px 0; }
.sign_msg { color:#ffffff;line-height:20px;font-size:14px; }
.sign_main { padding:36px 0 24px 0;position:relative; }
.sign_main h3 { font-size:48px;color:#ffe1b2; }
.sign_main a { display:block;position:absolute;right:0;top:48px;width:60px;height:40px;line-height:40px;background:#f4dfa0;color:#f25544;font-size:16px;border-top-left-radius:12px;border-bottom-left-radius:12px; }
.sign_btn { display:block;width:200px;height:40px;line-height:40px;margin:0 auto 18px;background:#f4dfa0;color:#f25544;font-size:16px;border-radius:8px; }
.to_yesterday { font-size:14px;color:#f4dfa0; }

.sign_rec { padding:0 12px; }

.sign_success { padding-top:60px;width:300px;height:270px;background:url('../img/sign_ok.png') no-repeat 0 0;background-size:300px 330px;text-align:center; }
.sign_success h2 { font-size:16px;color:#ff3d48;margin-bottom:16px; }
.sign_success h1 { font-size:30px;color:#ff3d48;position:relative;width:80px;margin:0 auto;margin-bottom:20px; }
.sign_success em { position:absolute;right:-10px;bottom:-12px;font-size:10px; }
.sign_success p { font-size:14px;color:#ff3d48;margin-bottom:56px; }
.sign_success a { font-size:18px;color:#89261f; }

.sign_enter { display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;height:100%;background:#333333; }
.sign_enter a { display:block;width:90%; }
.sign_enter img { width:100%; }

.sign_ad { padding:12px; }
.sign_ad p { display:flex;justify-content:space-between;padding:8px 0; }
.sign_ad span {  }
.sign_ad strong { color:#454cf2; }
.sign_ad a { display:block;margin-bottom:8px; }
.sign_ad img { width:100%;border-radius:6px; }
.ad_qr img { width:300px; }

.lists { padding:0 8px;text-align:left; }
.lists li { background:#ffffff;margin-bottom:8px;position:relative; }
.goods-info { display:flex;flex-direction:column;justify-content:space-between;padding:4px 4px 4px 133px;position:relative;height:125px;box-sizing:content-box;border-bottom:1px solid #efefef; }
.goods-info p { width:125px;height:125px;position:absolute;left:4px;top:4px;overflow:hidden; }
.goods-info img { height:100%;position:absolute;transform:translate(-50%, 0);left:50%; }
.goods-info h2 strong { display:block;font-size:14px;color:#1b1b1b;font-weight:normal;max-height:38px;overflow:hidden;margin-bottom:2px; }
.goods-info h2 span { display:block;font-size:11px;color:#7e7e7e;overflow:hidden;max-height:32px; }
.goods-info h2 em { display:inline-block;font-size:10px;color:#676767;font-weight:normal;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:4px;padding:3px;background:#f0f0f0;border-radius:4px; }
.goods-info h2 i { color:#b0b0b0;font-style:normal; }
.goods-info div {  }
.goods-info div strong { font-size:14px;font-weight:bold;color:#fd0d0e;margin-right:8px; }
.goods-info div span { font-size:12px;color:#000000;margin-right:2px; }
.goods-info div em { padding:2px 10px;background:#000000;color:#feec6c;font-size:9px;border-radius:10px; }
.list-cart { display:block;width:30px;height:30px;position:absolute;right:10px;bottom:10px;background:url('../img/cart.png') no-repeat 0 0;background-size:cover; }
.lists .del_btn { position:absolute;display:block;top:8px;right:8px;width:48px;height:24px;line-height:24px;background:rgba(0,0,0,0.6);color:#ffffff;font-size:12px;text-align:center;border-radius:6px;padding:0; }

.list_goods { display:flex;justify-content:left;flex-wrap:wrap;padding-top:10px;text-align:left; }
.list_goods li { width:50%;box-sizing:border-box;margin-bottom:8px;position:relative; }
.list_goods li:nth-child(odd) { padding-right:4px; }
.list_goods li:nth-child(even) { padding-left:4px; }
.list_goods a { display:block;background:#ffffff;padding:4px;border-radius:5px; }
.list_goods .list_img { margin-bottom:2px;width:100%;height:24vh;overflow:hidden;position:relative; }
.list_goods .list_img img { height:100%;position:absolute;transform:translate(-50%, 0);left:50%; }
.list_goods h3 { overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;font-weight:bold;color:#272727;padding:1px 0; }
.list_goods h3:nth-of-type(2) { color:#a7a7a7;font-size:12px;font-weight:normal;margin-bottom:10px; }
.list_goods div { padding-top:2px; }
.list_goods .list_info { text-align:center; }
.list_goods span { color:#333333; }
.list_goods strong { color:#ec5355;font-weight:bold; }
.list_goods .del_btn { position:absolute;display:block;top:8px;right:8px;width:48px;height:24px;line-height:24px;background:rgba(0,0,0,0.6);color:#ffffff;font-size:12px;text-align:center;border-radius:6px;padding:0; }

.go_nav { display:block;position:fixed;right:0;bottom:60px;width:60px;padding:4px 0;background:#ffffff;color:#3f3f3f;font-size:12px;border-top-left-radius:12px;border-bottom-left-radius:12px;border:1px solid #d7d7d7;border-right:none; }
/*=sign & sign_enter --END*/


/*=fiveday=*/
.weixin {position: fixed; bottom: 6rem; right: 1.5rem; z-index: 10084;}
.weixin img{width: 3rem;}
.weixin-qr {display: none; position: fixed; top: 36%; left: 50%; width: 18rem; height: 32rem; margin-left: -9rem; margin-top: -11.5rem; box-shadow: 0 0 .5rem 0 rgba(0,0,0,.4); z-index: 10086;}
.black-qr {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5); z-index: 10085;}

.header { width:100%;height:64px;position:fixed;top:0;background:#f8f8f8;display:flex;justify-content:space-between;z-index:9999;padding:12px 12px;box-sizing:border-box; }
.header a { display:block; }
.header .to_my { width:40px;position:relative; }
.header .to_my img { width:40px;height:40px;border-radius:20px; }
.header .to_my em { width:10px;height:10px;border-radius:5px;background:#ff0000;position:absolute;right:0;top:0; }
.header .header_m { width:100%;position:relative;margin:0 16px; }
.header .to_nav { width:100%;height:40px;line-height:40px;font-size:14px;color:#d5d5d5;padding-left:36px;border-radius:20px;background:#ffffff url('../img/search.png') no-repeat 6px center;background-size:20px 20px;box-sizing:border-box;text-align:left; }
.header .to_brand { width:60px;height:36px;position:absolute;right:2px;top:2px;background:url('../img/right.png') no-repeat right center;background-size:16px 16px;text-align:center; }
.header .to_brand img { width:24px;height:24px;border-radius:18px; }
.header .to_brand p { color:#010101;font-size:10px; }
.header .head_cart { width:60px;text-align:center;position:relative;margin-right:10px; }
.header .head_cart img { width:24px;height:24px; }
.header .head_cart p { color:#010101;font-size:10px; }
.header .head_cart em { width:8px;height:8px;border-radius:4px;background:#ff0b2f;position:absolute;right:0;top:0; }
.header .show_qr { width:24px;text-align:center; }
.header .show_qr img { width:24px;height:24px; }
.header .show_qr p { color:#010101;font-size:10px; }

.fiveday_left { padding:8px 12px;background:#bb2727;display:flex;justify-content:space-between;align-items:center;color:#ffffff; }
.fiveday_left h2 { font-size:14px; }
.fiveday_left p { display:flex;justify-content:right;align-items:baseline; }
.fiveday_left strong { display:inline-block;width:28px;height:28px;text-align:center;line-height:28px;background:#2a2a2c;border-radius:3px;padding:2px;font-size:22px;font-weight:normal; }
.fiveday_left span { display:inline-block;margin:0 2px; }

.list_img span { position:absolute;display:block;width:100%;height:100%;background:rgba(255,255,255,0.6); }
.list_goods section { position:relative;text-align:right;padding:8px; }
.list_goods section.on { background:#e95150; }
.list_goods section.off { background:#9c9c9c; }
.list_goods section img { position:absolute;left:4px;top:-8px;width:48px; }
.list_goods section p {  }
.list_goods section span { color:#1d2b2c; }
.list_goods section strong { color:#1d2b2c;font-size:16px;text-decoration:line-through; }
.list_goods section em { color:#1d2b2c; }
.list_goods section i { display:inline-block;color:#131313;font-style:normal;font-size:16px;padding:8px 0; }

.fiveday_off { height:100%;padding:16px;box-sizing:border-box;position:relative; }
.fiveday_off_bg { position:absolute;width:100%;height:100%;z-index:1;left:0;top:0;overflow-y:scroll; }
.fiveday_off_bg img { width:100%; }
.fiveday_begin { position:relative;padding:28px 12px;background:#bb2727;display:flex;justify-content:space-between;align-items:center;color:#ffffff;border-radius:6px;box-shadow:0 0 10px #333333;z-index:2; }
.fiveday_begin img { position:absolute;left:4px;top:-8px;width:60px; }
.fiveday_begin h2 { font-size:14px;flex:1; }
.fiveday_begin p { display:flex;justify-content:right;align-items:baseline; }
.fiveday_begin strong { display:inline-block;width:24px;height:24px;text-align:center;line-height:24px;background:#2a2a2c;border-radius:3px;padding:2px;font-size:18px;font-weight:normal; }
.fiveday_begin span { display:inline-block;margin:0 2px; }
/*=fiveday --END*/

/*=article=*/
.article { padding:20px 16px 12px; }
.article h2 { font-weight:normal;font-size:22px;line-height:1.4;margin-bottom:14px;color:#333333;text-align:left; }
.article section { text-align:left;font-size:16px;margin-bottom:32px; }
.article section span { color:#576b95;margin-right:10px; }
.article section strong { font-weight:normal;color:rgba(0,0,0,0.3); }
.article-content {  }
.article-content em { display:block;width:100%;height:200px;background:rgba(0,0,0,0.1); }
.article-content img { max-width:100%; }
/*=article --END=*/

.alert-container { z-index:9999999; }